@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lora:wght@400;500;600&display=swap");

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "Lora", serif;
}
.navbar-brand img {
  display: block;
  max-width: 80%;
}

.nav-item {
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 20px;
  color: white;
}

.nav-btn a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(0, 255, 132);
  color: black;
  font-weight: 600;
  outline: none;
}

.nav-btn :hover {
  background-color: rgba(0, 255, 132, 0.801);
}
.navbar {
  background-color: rgba(0, 35, 51, 1);
  padding: 13px 0px;
}

.banner {
  background: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bnr_overlay {
  height: 90vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.59);
}
.banner-content {
  padding: 80px 0px 50px;
  color: white;
}
.banner-content h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  color: rgb(0, 255, 132);
  padding: 30px 0px 20px;
  letter-spacing: 2px;
}
.banner-content h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  padding: 0px 0px 20px;
}
.banner-content p {
  font-size: 19px;
  font-weight: 400;
}

.start a {
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.team a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding: 10px 20px;
  background-color: transparent;
  background-color: rgb(0, 255, 132);
  font-weight: 600;
  border-radius: 5px;
}

.team :hover {
  background-color: rgba(0, 255, 132, 0.849);
}

.team-p {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}
.customers {
  padding: 40px 0px 50px;
}
.customers h3 {
  padding: 40px 0px 80px;
}
.customers img {
  max-width: 100%;
}

.pre-content {
  padding: 50px 0px;
  background-color: #f5f5f5;
}

.pre-content hr {
  width: 10%;
  padding: 2px;
  border-radius: 5px;
  background-color: #3f2bd4;
}
.pre-content p {
  font-size: 18px;
}
.pre-con-btn a {
  text-decoration: none;
  color: #3f2bd4;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #3f2bd4;
}

.pre-con-btn :hover {
  background-color: #3f2bd4;
  color: white;
}

.pre-con-btn {
  padding: 20px 0px;
}

.pre-content h2 {
}
.details_part hr {
  width: 20%;
  background-color: #3f2bd4;
  padding: 2px;
  border-radius: 30px;
  margin-right: inherit;
  margin-left: inherit;
}
.bg_sec_1,
.bg_sec_2,
.bg_sec_3,
.bg_sec_4,
.bg_sec_5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg_sec_1 {
  background-image: url(../images/sec1.jpg);
}

.details_content {
  padding: 90px 150px;
}
.details_content h1 {
  font-family: "Lora", serif;
}

.details_content p {
  font-size: 24px;
}
.bg_sec_2 {
  background-image: url(../images/sec2.jpg);
}
.bg_sec_3 {
  background-image: url(../images/sec3.jpg);
}
.bg_sec_4 {
  background-image: url(../images/sec4.jpg);
}
.bg_sec_5 {
  background-image: url(../images/sec5.jpg);
}

.video_sec {
  padding: 80px 0px;
  background-color: #3f2bd4;
}
.video_sec h2 {
  color: white;
  font-size: 22px;
}

.video_sec iframe {
  padding-top: 60px;
}

.dentos {
  padding: 50px 0px;
}

.dentos_img img {
  max-width: 20%;
}

.dentos h3 {
  font-size: 20px;
  font-size: 40px 0px 20px;
  padding: 20px 0px;
  color: rgb(99, 97, 97);
  line-height: 1.5;
}
.dentos p {
  padding: 10px 0px;
}
.ceo_img img {
  border-radius: 50%;
  max-width: 7%;
}

footer {
  padding: 60px 0px 10px;
  background-color: rgba(0, 35, 51, 1);
}

footer h1 {
  font-size: 44px;
  color: white;
  padding-bottom: 30px;
}

.footer-bottom-contents {
  padding: 40px 0px 0px;
}
.footer-bottom-contents a {
  color: white;
}

.footer-bottom-contents span {
  color: white;
}

.footer-bottom-contents p {
  padding-top: 10px;
  color: white;
}

/* RESPONSIVE */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .team a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 15px;
  }
  .start a {
    font-size: 20px;
    padding: 10px 15px;
  }
  .pre-content p {
    font-size: 21px;
    padding: 10px 75px;
  }
  .details_content {
    padding: 0px 50px;
  }
  .details_content p {
    font-size: 19px;
  }
  .pre-con-btn a {
    text-decoration: none;
    color: #3f2bd4;
    font-weight: 600;
    padding: 10px 14px;
  }
  .ceo_img img {
    border-radius: 50%;
    max-width: 10%;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .banner-content h1 {
    font-family: "Lora", serif;
    font-weight: 600;
    padding: 0px 0px 20px;
    font-size: 30px;
  }
  .customers h3 {
    padding: 40px 0px;
  }
  .customers img {
    max-width: 70%;
  }
  .pre-content h2 {
    font-size: 36px;
  }
  .pre-content p {
    font-size: 20px;
    padding: 20px 0px;
  }
  .pre-con-btn a {
    text-decoration: none;
    color: #3f2bd4;
    font-weight: 600;
    padding: 10px 10px;
  }
  .details_content h1 {
    font-family: "Lora", serif;
    font-size: 30px;
  }
  .video_sec {
    padding: 40px 0px;
    background-color: #3f2bd4;
  }
  .dentos_img img {
    max-width: 40%;
  }
  .dentos h3 {
    font-size: 18px;
    font-size: 40px 0px 20px;
    padding: 20px 0px;
    color: rgb(99, 97, 97);
    line-height: 1.5;
  }
  .ceo_img img {
    border-radius: 50%;
    max-width: 13%;
  }
  footer h1 {
    font-size: 30px;
    color: white;
    padding-bottom: 30px;
  }
  .team a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 10px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .team-p {
    color: white;
    font-size: 18px;
    padding: 20px 0px 0px;
  }
  .customers h3 {
    padding: 20px 0px;
  }
  .customers img {
    max-width: 50%;
  }
  .video_sec iframe {
    padding: 16px 0px;
    height: 100%;
    width: 100%;
  }
  footer h1 {
    font-size: 22px;
    color: white;
    padding-bottom: 30px;
  }
  .team a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 10px;
  }
  .footer-bottom-contents a {
    color: white;
    display: block;
    padding: 5px;
  }
  .footer-bottom-contents span {
    color: white;
    display: none;
  }
}
